/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./src/app/book/[id]/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.page_container__g_P0w {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page_cover_img_container__0SoG_ {
  display: flex;
  justify-content: center;
  padding: 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.page_cover_img_container__0SoG_::before {
  position: absolute;
  top: 0px;
  left: 0p;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
}

.page_cover_img_container__0SoG_ > img {
  z-index: 1;
  max-height: 350px;
  height: 100%;
}

.page_title___kx4P {
  font-size: large;
  font-weight: bold;
}

.page_subTitle__EvDNn {
  color: gray;
}

.page_author___m3Mr {
  color: gray;
}

.page_description__TNGjd {
  background-color: rgb(245, 245, 245);
  padding: 15px;
  line-height: 1.3;
  white-space: pre-line;
  border-radius: 5px;
}

