/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./src/components/book-item.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.book-item_container__9dTGW {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);

  color: black;
  text-decoration: none;
}

.book-item_container__9dTGW img {
  width: 80px;
}

.book-item_title__68Gv9 {
  font-weight: bold;
}

.book-item_subTitle__qLFzP {
  word-break: keep-all;
}

.book-item_author__gZbmo {
  color: gray;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./src/app/(with-searchbar)/page.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__xfmXa {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page_container__xfmXa h3 {
  margin-bottom: 0px;
}

